.figure-caption {
  width: fit-content;
  font-family: "slabo";
  font-size: 18px;
  color: black; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

nav .pagination {
  margin-top: 100px;
  margin-bottom: 40px; }

.container-boxsets {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 15.625rem;
  margin-left: 28.125rem; }
  .container-boxsets figure {
    margin-top: 30px; }
    .container-boxsets figure a {
      text-decoration: none; }
    .container-boxsets figure .figure-caption {
      color: black;
      font-family: "slabo";
      font-size: 18px;
      width: fit-content; }
    .container-boxsets figure .editorial:hover {
      color: #1a56aa;
      transition: 0.6s; }
  .container-boxsets .btn {
    transition: 0.6s; }

.bannerboxsets {
  margin-top: 70px; }

body {
  background-image: linear-gradient(to right top, #37075e, #5e005d, #7e0058, #99004f, #af0143); }

.titulo {
  color: black;
  text-align: center;
  font-family: "slabo";
  margin-top: 3.125rem;
  margin-bottom: 1.5625rem; }

.container-mangas {
  display: grid;
  width: 100vw;
  grid-template-columns: repeat(4, 1fr);
  background-color: #3693CE;
  align-items: center; }
  .container-mangas .figure {
    margin-left: 75px; }
    .container-mangas .figure a {
      text-decoration: none; }
    .container-mangas .figure .btn {
      background-color: #171A4F; }
    .container-mangas .figure .figure-caption {
      width: fit-content;
      font-family: "slabo";
      font-size: 18px;
      color: black; }
    .container-mangas .figure .editorial:hover {
      color: #1a56aa;
      transition: 0.6s; }

.texto {
  font: 35px "slabo";
  text-align: center;
  margin-top: 6.25rem;
  margin-bottom: 6.25rem; }

.editoriales {
  display: grid;
  width: 100vw;
  grid-template-columns: repeat(4, 1fr);
  height: 6.25rem;
  background-color: #48cae4;
  align-items: center;
  justify-items: center; }

.icons {
  display: flex;
  margin-top: 15.625rem;
  margin-bottom: 12.5rem;
  gap: 6.25rem;
  justify-content: center;
  text-align: center;
  font-size: 25px; }
  .icons p {
    font-size: .9375rem;
    padding: .5rem; }
  .icons i {
    position: relative;
    bottom: 9.375rem; }

.demografias {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: black;
  margin-bottom: 12.5rem;
  padding-top: 20px;
  padding-bottom: 20px; }
  .demografias .btn {
    position: relative;
    right: 10.9375rem; }

.titulo2 {
  color: black;
  text-align: center;
  font-family: "slabo";
  margin-bottom: 3.125rem;
  font-size: calc(1.375rem + 1.5vw); }

.container-mangas2 {
  display: grid;
  width: 100vw;
  grid-template-columns: repeat(4, 1fr);
  background-image: linear-gradient(to right bottom, #90e0ef, #5bbfe1, #279dd3, #007ac2, #1a56aa);
  align-items: center;
  height: 31.25rem;
  margin-bottom: 12.5rem; }
  .container-mangas2 .figure {
    margin-left: 75px; }
    .container-mangas2 .figure a {
      text-decoration: none; }
    .container-mangas2 .figure .btn {
      background-color: #171A4F; }
    .container-mangas2 .figure .figure-caption {
      width: fit-content;
      font-family: "slabo";
      font-size: 18px;
      text-decoration-line: none;
      color: black; }
    .container-mangas2 .figure .editorial:hover {
      color: #1a56aa;
      transition: 0.6s; }
    .container-mangas2 .figure .precioOriginal {
      text-decoration: line-through; }
    .container-mangas2 .figure .precioOferta {
      color: #4f772d; }

.container-mangas3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 15.625rem;
  margin-left: 28.125rem; }
  .container-mangas3 figure {
    margin-top: 30px; }
    .container-mangas3 figure a {
      text-decoration: none; }
    .container-mangas3 figure .figure-caption {
      color: black;
      font-family: "slabo";
      font-size: 18px;
      width: fit-content; }
    .container-mangas3 figure .editorial:hover {
      color: #1a56aa;
      transition: 0.6s; }
  .container-mangas3 .btn {
    transition: 0.6s; }

.bannermangas {
  margin-top: 70px; }

.ofertas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 15.625rem;
  margin-left: 28.125rem; }
  .ofertas figure {
    margin-top: 30px; }
    .ofertas figure a {
      text-decoration: none; }
    .ofertas figure .figure-caption {
      width: fit-content;
      font-family: "slabo";
      font-size: 18px;
      color: black; }
    .ofertas figure .editorial:hover {
      color: #1a56aa;
      transition: 0.6s; }
    .ofertas figure .precioOriginal {
      text-decoration: line-through; }
    .ofertas figure .precioOferta {
      color: #4f772d; }
  .ofertas .btn {
    transition: 0.6s; }

.bannerofertas {
  margin-top: 70px; }

.artbooks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 15.625rem;
  margin-left: 28.125rem; }
  .artbooks figure {
    margin-top: 30px; }
    .artbooks figure a {
      text-decoration: none; }
    .artbooks figure .figure-caption {
      color: black;
      font-family: "slabo";
      font-size: 18px;
      width: fit-content; }
    .artbooks figure .editorial:hover {
      color: #1a56aa;
      transition: 0.6s; }
  .artbooks .btn {
    transition: 0.6s; }

.bannerartbooks {
  margin-top: 70px; }

.container-mangas4 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 15.625rem;
  margin-left: 28.125rem; }
  .container-mangas4 figure {
    margin-top: 30px; }
    .container-mangas4 figure a {
      text-decoration: none; }
    .container-mangas4 figure .figure-caption {
      color: black;
      font-family: "slabo";
      font-size: 18px;
      width: fit-content; }
    .container-mangas4 figure .editorial:hover {
      color: #1a56aa;
      transition: 0.6s; }
  .container-mangas4 .btn {
    transition: 0.6s; }

.bannernovelas {
  margin-top: 70px; }

.navbar {
  background-color: #742380;
  font-size: 20px; }
  .navbar a {
    color: black; }
    .navbar a:hover {
      color: #CE3B8E;
      transition: 0.6s; }
  .navbar .nav-item {
    color: black; }
    .navbar .nav-item a:hover {
      color: #CE3B8E;
      transition: 0.6s; }
  .navbar form .btn {
    background-color: #ff575c; }
    .navbar form .btn:hover {
      color: #e60050;
      transition: 0.6s; }

.container-seinen {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 15.625rem;
  margin-left: 28.125rem; }
  .container-seinen figure {
    margin-top: 30px; }
    .container-seinen figure a {
      text-decoration: none; }
    .container-seinen figure .figure-caption {
      color: black;
      font-family: "slabo";
      font-size: 18px;
      width: fit-content; }
    .container-seinen figure .editorial:hover {
      color: #1a56aa;
      transition: 0.4s; }
  .container-seinen .btn {
    transition: 0.6s; }

.banner-seinen {
  margin-top: 70px; }

.container-shonen {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 15.625rem;
  margin-left: 28.125rem; }
  .container-shonen figure {
    margin-top: 30px; }
    .container-shonen figure a {
      text-decoration: none; }
    .container-shonen figure .figure-caption {
      color: black;
      font-family: "slabo";
      font-size: 18px;
      width: fit-content; }
    .container-shonen figure .editorial:hover {
      color: #1a56aa;
      transition: 0.6s; }
  .container-shonen .btn {
    transition: 0.6s; }

.banner-shonen {
  margin-top: 70px; }

.container-shojo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 15.625rem;
  margin-left: 28.125rem; }
  .container-shojo figure {
    margin-top: 30px; }
    .container-shojo figure a {
      text-decoration: none; }
    .container-shojo figure .figure-caption {
      color: black;
      font-family: "slabo";
      font-size: 18px;
      width: fit-content; }
    .container-shojo figure .editorial:hover {
      color: #1a56aa;
      transition: 0.6s; }
  .container-shojo .btn {
    transition: 0.6s; }

.banner-shojo {
  margin-top: 70px; }

.container-josei {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 15.625rem;
  margin-left: 28.125rem; }
  .container-josei figure {
    margin-top: 30px; }
    .container-josei figure a {
      text-decoration: none; }
    .container-josei figure .figure-caption {
      color: black;
      font-family: "slabo";
      font-size: 18px;
      width: fit-content; }
    .container-josei figure .editorial:hover {
      color: #1a56aa;
      transition: 0.6s; }
  .container-josei .btn {
    transition: 0.6s; }

.banner-josei {
  margin-top: 70px; }

.container-bakemonogatari {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 30px; }
  .container-bakemonogatari .div1 {
    grid-area: 1 / 1 / 5 / 2; }
  .container-bakemonogatari .div2 {
    grid-area: 1 / 2 / 2 / 3; }
  .container-bakemonogatari .div3 {
    grid-area: 2 / 2 / 3 / 3; }
  .container-bakemonogatari .div4 {
    grid-area: 3 / 2 / 4 / 3; }
  .container-bakemonogatari .div5 {
    grid-area: 4 / 2 / 5 / 3; }
  .container-bakemonogatari .div1 .Bakemonogatari {
    margin-left: 100px;
    margin-top: 50px; }
  .container-bakemonogatari .div2 {
    width: fit-content; }
    .container-bakemonogatari .div2 h1 {
      margin-top: 50px;
      font-family: "slabo"; }
    .container-bakemonogatari .div2 h2 {
      color: #ff9f94;
      font-family: "slabo"; }
  .container-bakemonogatari .div3 {
    width: 700px;
    height: fit-content; }
    .container-bakemonogatari .div3 .btn {
      background-color: #ff575c; }
      .container-bakemonogatari .div3 .btn:hover {
        color: #e60050;
        transition: 0.6s; }
  .container-bakemonogatari .div4 {
    position: relative;
    bottom: 100px;
    height: fit-content;
    width: 700px; }
    .container-bakemonogatari .div4 p {
      font-family: "slabo"; }
  .container-bakemonogatari .div5 {
    height: 250px;
    width: 700px;
    position: relative;
    bottom: 200px; }
    .container-bakemonogatari .div5 h3 {
      width: 700px;
      color: black;
      font-family: "slabo"; }
    .container-bakemonogatari .div5 .figure-caption {
      width: 700px;
      height: 250px;
      font-size: 18px;
      color: black;
      font-family: "slabo"; }

.footer .seccion-informacion {
  padding-top: 50px;
  padding-left: 300px; }
  .footer .seccion-informacion .contactos {
    width: 300px; }
  .footer .seccion-informacion .politicas li a {
    text-decoration: none; }
    .footer .seccion-informacion .politicas li a:hover {
      color: #3c1613;
      transition: 0.6s; }

.footer .Copyright a {
  text-decoration: none; }

@media (max-width: 1440px) {
  .demografias .btn {
    position: relative;
    bottom: 238px;
    left: 100px; } }

@media (max-width: 1218px) {
  .icons i {
    position: relative;
    bottom: 10.9375rem; } }

@media (max-width: 1200px) {
  .demografias {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: unset; }
    .demografias .btn {
      position: relative;
      bottom: 0;
      left: -170px;
      right: 0; }
    .demografias .figure img {
      margin-left: 100px; } }

@media (max-width: 1020px) {
  .container-mangas .figure {
    margin-left: 20px; }
    .container-mangas .figure .figure-caption {
      font-size: 16px; }
  .texto {
    font-size: 30px; }
  .icons {
    display: flex;
    flex-direction: column; }
  .container-mangas2 .figure {
    margin-left: 20px; }
    .container-mangas2 .figure .figure-caption {
      font-size: 16px; } }

@media (max-width: 818px) {
  .container-mangas .figure .figure-caption {
    font-size: 14px; }
  .texto {
    font-size: 28px; } }

@media (max-width: 768px) {
  .demografias .btn {
    left: 150px;
    bottom: 250px; }
  .demografias .figure img {
    margin-left: 40px; } }

@media (max-width: 650px) {
  .container-mangas {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
  .container-mangas2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: auto; }
    .container-mangas2 .figure img {
      padding-top: 10px; }
  .texto {
    font-size: 22px; }
  .demografias {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
    .demografias .figure img {
      margin-left: 10px; }
    .demografias .btn {
      left: 100px; } }

@media (max-width: 611px) {
  .demografias {
    display: flex;
    flex-direction: column; }
    .demografias .figure img {
      margin-left: 50px; }
    .demografias .btn {
      left: -185px;
      bottom: 0; } }

@media (max-width: 417px) {
  .demografias .btn {
    left: 160px;
    bottom: 260px; } }

@media (max-width: 377px) {
  .titulo {
    font-size: 22px; }
  .texto {
    font-size: 18px; }
  .titulo2 {
    font-size: 22px; }
  .container-mangas .figure .figure-caption {
    font-size: 12px; } }

@media (max-width: 1400px) {
  .container-mangas3 {
    margin-left: 250px; } }

@media (max-width: 1200px) {
  .container-mangas3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 350px; }
    .container-mangas3 .Bakemonogatari {
      padding-left: 80px; }
    .container-mangas3 .slamdunk {
      padding-left: 80px; }
    .container-mangas3 .vagabond {
      padding-left: 80px; } }

@media (max-width: 1120px) {
  .container-mangas3 {
    margin-left: 250px; } }

@media (max-width: 1040px) {
  .container-mangas3 {
    margin-left: 300px; }
    .container-mangas3 figure img {
      width: 225px;
      height: 347px; } }

@media (max-width: 992px) {
  .container-mangas3 {
    margin-left: 15.625rem; }
    .container-mangas3 .Bakemonogatari {
      padding-left: 40px; }
    .container-mangas3 .slamdunk {
      padding-left: 40px; }
    .container-mangas3 .vagabond {
      padding-left: 40px; } }

@media (max-width: 850px) {
  .container-mangas3 .Bakemonogatari {
    padding-left: 0px; }
  .container-mangas3 .slamdunk {
    padding-left: 0px; }
  .container-mangas3 .vagabond {
    padding-left: 0px; } }

@media (max-width: 768px) {
  .container-mangas3 figure img {
    width: 200px;
    height: 320px; }
  .container-mangas3 figure .figure-caption {
    font-size: 16px; } }

@media (max-width: 680px) {
  .container-mangas3 {
    margin-left: 100px; } }

@media (max-width: 576px) {
  .container-mangas3 {
    margin-left: 50px; } }

@media (max-width: 515px) {
  .container-mangas3 figure img {
    width: 180px;
    height: 280px; } }

@media (max-width: 450px) {
  .container-mangas3 figure img {
    width: 115px;
    height: 167px; }
  .container-mangas3 figure .figure-caption {
    font-size: 14px; } }

@media (max-width: 1400px) {
  .container-mangas4 {
    margin-left: 250px; } }

@media (max-width: 1200px) {
  .container-mangas4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 350px; }
    .container-mangas4 .Bakemonogatari {
      padding-left: 80px; }
    .container-mangas4 .slamdunk {
      padding-left: 80px; }
    .container-mangas4 .vagabond {
      padding-left: 80px; } }

@media (max-width: 1120px) {
  .container-mangas4 {
    margin-left: 250px; } }

@media (max-width: 1040px) {
  .container-mangas4 {
    margin-left: 300px; }
    .container-mangas4 figure img {
      width: 225px;
      height: 347px; } }

@media (max-width: 992px) {
  .container-mangas4 {
    margin-left: 15.625rem; }
    .container-mangas4 .Bakemonogatari {
      padding-left: 40px; }
    .container-mangas4 .slamdunk {
      padding-left: 40px; }
    .container-mangas4 .vagabond {
      padding-left: 40px; } }

@media (max-width: 850px) {
  .container-mangas4 .Bakemonogatari {
    padding-left: 0px; }
  .container-mangas4 .slamdunk {
    padding-left: 0px; }
  .container-mangas4 .vagabond {
    padding-left: 0px; } }

@media (max-width: 768px) {
  .container-mangas4 figure img {
    width: 200px;
    height: 320px; }
  .container-mangas4 figure .figure-caption {
    font-size: 16px; } }

@media (max-width: 680px) {
  .container-mangas4 {
    margin-left: 100px; } }

@media (max-width: 576px) {
  .container-mangas4 {
    margin-left: 50px; } }

@media (max-width: 515px) {
  .container-mangas4 figure img {
    width: 180px;
    height: 280px; } }

@media (max-width: 450px) {
  .container-mangas4 figure img {
    width: 115px;
    height: 167px; }
  .container-mangas4 figure .figure-caption {
    font-size: 14px; } }

@media (max-width: 1400px) {
  .artbooks {
    margin-left: 250px; } }

@media (max-width: 1200px) {
  .artbooks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 350px; }
    .artbooks .Bakemonogatari {
      padding-left: 80px; }
    .artbooks .slamdunk {
      padding-left: 80px; }
    .artbooks .vagabond {
      padding-left: 80px; } }

@media (max-width: 1120px) {
  .artbooks {
    margin-left: 250px; } }

@media (max-width: 1040px) {
  .artbooks {
    margin-left: 300px; }
    .artbooks figure img {
      width: 225px;
      height: 347px; } }

@media (max-width: 992px) {
  .artbooks {
    margin-left: 15.625rem; }
    .artbooks .Bakemonogatari {
      padding-left: 40px; }
    .artbooks .slamdunk {
      padding-left: 40px; }
    .artbooks .vagabond {
      padding-left: 40px; } }

@media (max-width: 850px) {
  .artbooks .Bakemonogatari {
    padding-left: 0px; }
  .artbooks .slamdunk {
    padding-left: 0px; }
  .artbooks .vagabond {
    padding-left: 0px; } }

@media (max-width: 768px) {
  .artbooks figure img {
    width: 200px;
    height: 320px; }
  .artbooks figure .figure-caption {
    font-size: 16px; } }

@media (max-width: 680px) {
  .artbooks {
    margin-left: 100px; } }

@media (max-width: 576px) {
  .artbooks {
    margin-left: 50px; } }

@media (max-width: 515px) {
  .artbooks figure img {
    width: 180px;
    height: 280px; } }

@media (max-width: 450px) {
  .artbooks figure img {
    width: 115px;
    height: 167px; }
  .artbooks figure .figure-caption {
    font-size: 14px; } }

@media (max-width: 1400px) {
  .container-boxsets {
    margin-left: 250px; } }

@media (max-width: 1200px) {
  .container-boxsets {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 350px; }
    .container-boxsets .Bakemonogatari {
      padding-left: 80px; }
    .container-boxsets .slamdunk {
      padding-left: 80px; }
    .container-boxsets .vagabond {
      padding-left: 80px; } }

@media (max-width: 1120px) {
  .container-boxsets {
    margin-left: 250px; } }

@media (max-width: 1040px) {
  .container-boxsets {
    margin-left: 300px; }
    .container-boxsets figure img {
      width: 225px;
      height: 347px; } }

@media (max-width: 992px) {
  .container-boxsets {
    margin-left: 15.625rem; }
    .container-boxsets .Bakemonogatari {
      padding-left: 40px; }
    .container-boxsets .slamdunk {
      padding-left: 40px; }
    .container-boxsets .vagabond {
      padding-left: 40px; } }

@media (max-width: 850px) {
  .container-boxsets .Bakemonogatari {
    padding-left: 0px; }
  .container-boxsets .slamdunk {
    padding-left: 0px; }
  .container-boxsets .vagabond {
    padding-left: 0px; } }

@media (max-width: 768px) {
  .container-boxsets figure img {
    width: 200px;
    height: 320px; }
  .container-boxsets figure .figure-caption {
    font-size: 16px; } }

@media (max-width: 680px) {
  .container-boxsets {
    margin-left: 100px; } }

@media (max-width: 576px) {
  .container-boxsets {
    margin-left: 50px; } }

@media (max-width: 515px) {
  .container-boxsets figure img {
    width: 180px;
    height: 280px; } }

@media (max-width: 450px) {
  .container-boxsets figure img {
    width: 115px;
    height: 167px; }
  .container-boxsets figure .figure-caption {
    font-size: 14px; } }

@media (max-width: 1400px) {
  .ofertas {
    margin-left: 250px; } }

@media (max-width: 1200px) {
  .ofertas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 350px; }
    .ofertas .spyxfamily {
      padding-left: 80px; }
    .ofertas .callofthenight {
      padding-left: 80px; }
    .ofertas .bakuman {
      padding-left: 80px; }
    .ofertas .firepunch {
      padding-left: 80px; }
    .ofertas .witchwatch {
      padding-left: 80px; } }

@media (max-width: 1120px) {
  .ofertas {
    margin-left: 250px; } }

@media (max-width: 1040px) {
  .ofertas {
    margin-left: 300px; }
    .ofertas figure img {
      width: 225px;
      height: 347px; } }

@media (max-width: 992px) {
  .ofertas {
    margin-left: 15.625rem; }
    .ofertas .spyxfamily {
      padding-left: 40px; }
    .ofertas .callofthenight {
      padding-left: 40px; }
    .ofertas .bakuman {
      padding-left: 40px; }
    .ofertas .firepunch {
      padding-left: 40px; }
    .ofertas .witchwatch {
      padding-left: 40px; } }

@media (max-width: 850px) {
  .ofertas .spyxfamily {
    padding-left: 0px; }
  .ofertas .callofthenight {
    padding-left: 0px; }
  .ofertas .bakuman {
    padding-left: 0px; }
  .ofertas .firepunch {
    padding-left: 0px; }
  .ofertas .witchwatch {
    padding-left: 0px; } }

@media (max-width: 768px) {
  .ofertas figure img {
    width: 200px;
    height: 320px; }
  .ofertas figure .figure-caption {
    font-size: 16px; } }

@media (max-width: 680px) {
  .ofertas {
    margin-left: 100px; } }

@media (max-width: 576px) {
  .ofertas {
    margin-left: 50px; } }

@media (max-width: 515px) {
  .ofertas figure img {
    width: 180px;
    height: 280px; } }

@media (max-width: 450px) {
  .ofertas figure img {
    width: 115px;
    height: 167px; }
  .ofertas figure .figure-caption {
    font-size: 14px; } }

@media (max-width: 1400px) {
  .container-seinen {
    margin-left: 250px; } }

@media (max-width: 1200px) {
  .container-seinen {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 350px; }
    .container-seinen .another {
      padding-left: 80px; }
    .container-seinen .arte {
      padding-left: 80px; }
    .container-seinen .atelier {
      padding-left: 80px; } }

@media (max-width: 1120px) {
  .container-seinen {
    margin-left: 250px; } }

@media (max-width: 1040px) {
  .container-seinen {
    margin-left: 300px; }
    .container-seinen figure img {
      width: 225px;
      height: 347px; } }

@media (max-width: 992px) {
  .container-seinen {
    margin-left: 15.625rem; }
    .container-seinen .another {
      padding-left: 40px; }
    .container-seinen .arte {
      padding-left: 40px; }
    .container-seinen .atelier {
      padding-left: 40px; } }

@media (max-width: 850px) {
  .container-seinen .another {
    padding-left: 0px; }
  .container-seinen .arte {
    padding-left: 0px; }
  .container-seinen .atelier {
    padding-left: 0px; } }

@media (max-width: 768px) {
  .container-seinen figure img {
    width: 200px;
    height: 320px; }
  .container-seinen figure .figure-caption {
    font-size: 16px; } }

@media (max-width: 680px) {
  .container-seinen {
    margin-left: 100px; } }

@media (max-width: 576px) {
  .container-seinen {
    margin-left: 50px; } }

@media (max-width: 515px) {
  .container-seinen figure img {
    width: 180px;
    height: 280px; } }

@media (max-width: 450px) {
  .container-seinen figure img {
    width: 115px;
    height: 167px; }
  .container-seinen figure .figure-caption {
    font-size: 14px; } }

@media (max-width: 1400px) {
  .container-shonen {
    margin-left: 250px; } }

@media (max-width: 1200px) {
  .container-shonen {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 350px; }
    .container-shonen .Bakemonogatari {
      padding-left: 80px; }
    .container-shonen .slamdunk {
      padding-left: 80px; }
    .container-shonen .vagabond {
      padding-left: 80px; } }

@media (max-width: 1120px) {
  .container-shonen {
    margin-left: 250px; } }

@media (max-width: 1040px) {
  .container-shonen {
    margin-left: 300px; }
    .container-shonen figure img {
      width: 225px;
      height: 347px; } }

@media (max-width: 992px) {
  .container-shonen {
    margin-left: 15.625rem; }
    .container-shonen .Bakemonogatari {
      padding-left: 40px; }
    .container-shonen .slamdunk {
      padding-left: 40px; }
    .container-shonen .vagabond {
      padding-left: 40px; } }

@media (max-width: 850px) {
  .container-shonen .Bakemonogatari {
    padding-left: 0px; }
  .container-shonen .slamdunk {
    padding-left: 0px; }
  .container-shonen .vagabond {
    padding-left: 0px; } }

@media (max-width: 768px) {
  .container-shonen figure img {
    width: 200px;
    height: 320px; }
  .container-shonen figure .figure-caption {
    font-size: 16px; } }

@media (max-width: 680px) {
  .container-shonen {
    margin-left: 100px; } }

@media (max-width: 576px) {
  .container-shonen {
    margin-left: 50px; } }

@media (max-width: 515px) {
  .container-shonen figure img {
    width: 180px;
    height: 280px; } }

@media (max-width: 450px) {
  .container-shonen figure img {
    width: 115px;
    height: 167px; }
  .container-shonen figure .figure-caption {
    font-size: 14px; } }

@media (max-width: 1400px) {
  .container-shojo {
    margin-left: 250px; } }

@media (max-width: 1200px) {
  .container-shojo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 350px; }
    .container-shojo .Bakemonogatari {
      padding-left: 80px; }
    .container-shojo .slamdunk {
      padding-left: 80px; }
    .container-shojo .vagabond {
      padding-left: 80px; } }

@media (max-width: 1120px) {
  .container-shojo {
    margin-left: 250px; } }

@media (max-width: 1040px) {
  .container-shojo {
    margin-left: 300px; }
    .container-shojo figure img {
      width: 225px;
      height: 347px; } }

@media (max-width: 992px) {
  .container-shojo {
    margin-left: 15.625rem; }
    .container-shojo .Bakemonogatari {
      padding-left: 40px; }
    .container-shojo .slamdunk {
      padding-left: 40px; }
    .container-shojo .vagabond {
      padding-left: 40px; } }

@media (max-width: 850px) {
  .container-shojo .Bakemonogatari {
    padding-left: 0px; }
  .container-shojo .slamdunk {
    padding-left: 0px; }
  .container-shojo .vagabond {
    padding-left: 0px; } }

@media (max-width: 768px) {
  .container-shojo figure img {
    width: 200px;
    height: 320px; }
  .container-shojo figure .figure-caption {
    font-size: 16px; } }

@media (max-width: 680px) {
  .container-shojo {
    margin-left: 100px; } }

@media (max-width: 576px) {
  .container-shojo {
    margin-left: 50px; } }

@media (max-width: 515px) {
  .container-shojo figure img {
    width: 180px;
    height: 280px; } }

@media (max-width: 450px) {
  .container-shojo figure img {
    width: 115px;
    height: 167px; }
  .container-shojo figure .figure-caption {
    font-size: 14px; } }

@media (max-width: 1400px) {
  .container-josei {
    margin-left: 250px; } }

@media (max-width: 1200px) {
  .container-josei {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 350px; }
    .container-josei .Bakemonogatari {
      padding-left: 80px; }
    .container-josei .slamdunk {
      padding-left: 80px; }
    .container-josei .vagabond {
      padding-left: 80px; } }

@media (max-width: 1120px) {
  .container-josei {
    margin-left: 250px; } }

@media (max-width: 1040px) {
  .container-josei {
    margin-left: 300px; }
    .container-josei figure img {
      width: 225px;
      height: 347px; } }

@media (max-width: 992px) {
  .container-josei {
    margin-left: 15.625rem; }
    .container-josei .Bakemonogatari {
      padding-left: 40px; }
    .container-josei .slamdunk {
      padding-left: 40px; }
    .container-josei .vagabond {
      padding-left: 40px; } }

@media (max-width: 850px) {
  .container-josei .Bakemonogatari {
    padding-left: 0px; }
  .container-josei .slamdunk {
    padding-left: 0px; }
  .container-josei .vagabond {
    padding-left: 0px; } }

@media (max-width: 768px) {
  .container-josei figure img {
    width: 200px;
    height: 320px; }
  .container-josei figure .figure-caption {
    font-size: 16px; } }

@media (max-width: 680px) {
  .container-josei {
    margin-left: 100px; } }

@media (max-width: 576px) {
  .container-josei {
    margin-left: 50px; } }

@media (max-width: 515px) {
  .container-josei figure img {
    width: 180px;
    height: 280px; } }

@media (max-width: 450px) {
  .container-josei figure img {
    width: 115px;
    height: 167px; }
  .container-josei figure .figure-caption {
    font-size: 14px; } }

@media (max-width: 992px) {
  .footer .seccion-informacion {
    padding-left: 0; } }

@media (max-width: 768px) {
  .footer .seccion-informacion .contactos {
    width: 516px; } }

@media (max-width: 1370px) {
  .container-bakemonogatari .div1 .Bakemonogatari {
    margin-left: 50px; }
  .container-bakemonogatari .div5 .figure-caption {
    font-size: 15px; } }

@media (max-width: 377px) {
  .titulo {
    font-size: 22px; }
  .texto {
    font-size: 18px; }
  .titulo2 {
    font-size: 22px; }
  .container-mangas .figure .figure-caption {
    font-size: 12px; } }
