@media(max-width: 992px){
    .ofertas{
        margin-left: 15.625rem;
        .spyxfamily{
            padding-left: 40px;
        }
        .callofthenight{
            padding-left: 40px;
        }
        .bakuman{
            padding-left: 40px;
        }
        .firepunch{
            padding-left: 40px;
        }
        .witchwatch{
            padding-left: 40px;
        }
    }
}