@media(max-width: 450px){
    .ofertas{
        figure{
            img{
                width: 115px;
                height: 167px;
            }
            .figure-caption{
                font-size: 14px;
            }
        }
    }
}