@media(max-width: 850px){
    .ofertas{
        .spyxfamily{
            padding-left: 0px;
        }
        .callofthenight{
            padding-left: 0px;
        }
        .bakuman{
            padding-left: 0px;
        }
        .firepunch{
            padding-left: 0px;
        }
        .witchwatch{
            padding-left: 0px;
        }
    }
}