@mixin figure-caption-styles {
    width: fit-content;
    font-family: "slabo";
    font-size: 18px;
    color: black;
}  
.figure-caption {
    @include figure-caption-styles;
}

@mixin grid-container-mangas3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 15.625rem;
    margin-left: 28.125rem;
}
