@media(max-width: 768px){
    .container-shojo{
        figure{
            img{
                width: 200px;
                height: 320px;
            }
            .figure-caption{
                font-size: 16px;
            }
        }
    }
}