@media(max-width: 992px){
    .container-shojo{
        margin-left: 15.625rem;
        .Bakemonogatari{
            padding-left: 40px;
        }
        .slamdunk{
            padding-left: 40px;
        }
        .vagabond{
            padding-left: 40px;
        }
    }
}