.ofertas{
    @include grid-container-mangas3;
    figure{
        margin-top: 30px;
        a{
            text-decoration: none;
        }
        .figure-caption{
            @include figure-caption-styles;
        }
        .editorial{
            &:hover{
                color: rgba(26, 86, 170, 1);
                transition: 0.6s;
            }
        }
        .precioOriginal{
            text-decoration: $precio-original;
        }
        .precioOferta{
            color: $precio-oferta;
        }
    }
    .btn{
        transition: 0.6s;
    }
}
.bannerofertas{
    margin-top: 70px;
}