@media(max-width: 768px){
    .demografias{
        .btn{
            left: 150px;
            bottom: 250px;
        }
        .figure{
            img{
                margin-left: 40px;
            }
        }
    }
}