.footer{
    .titulo3{
        font-family: "slabo";
        font-size: 28px;
        color: black;
    }
    .subtitulo2{
        p{
            font-family: "slabo";
            font-size: 20px;
            color: black;
        }
    }
    .subtitulo1{
        a{
            font-family: "slabo";
            font-size: 20px;
            color: black;
        }
    }
}