@media(max-width: 377px){
    .titulo{
        font-size: 22px;
    }
    .texto{
        font-size: 18px;
    }
    .titulo2{
        font-size: 22px;
    }
    .container-mangas{
        .figure{
            .figure-caption{
                font-size: 12px;
            }
        }
    }
}