@media(max-width: 850px){
    .container-mangas3{
        .Bakemonogatari{
            padding-left: 0px;
        }
        .slamdunk{
            padding-left: 0px;
        }
        .vagabond{
            padding-left: 0px;
        }
    }
}