@media(max-width: 850px){
    .container-seinen{
        .another{
            padding-left: 0px;
        }
        .arte{
            padding-left: 0px;
        }
        .atelier{
            padding-left: 0px;
        }
    }
}