@media(max-width: 992px){
    .container-seinen{
        margin-left: 15.625rem;
        .another{
            padding-left: 40px;
        }
        .arte{
            padding-left: 40px;
        }
        .atelier{
            padding-left: 40px;
        }
    }
}